name: SourceCode

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  #schedule:
  #  - cron: '0 1 * * *'
  workflow_dispatch:
    inputs:
      log-level:
        required: false
        default: warning
        type: choice
        options:
        - info
        - warning
        - debug

env:
  LOG_LEVEL: ${{ github.event.inputs['log-level'] || 'warning' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.0.0
      with:
        submodules: true

    - name: Declare variables
      id: vars
      shell: bash
      run: |
        echo "git_short=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
        echo "git_branch=$(echo ${GITHUB_REF_NAME/\//-})" >> "$GITHUB_OUTPUT"

    - name: Generate SBOM
      id: sbom
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: |
        gh extension install advanced-security/gh-sbom
        gh sbom >> varikey-spdx-${{ steps.vars.outputs.git_branch }}-${{ steps.vars.outputs.git_short }}.json
        gh sbom -c -l >> varikey-spdx-cyclondx-${{ steps.vars.outputs.git_branch }}-${{ steps.vars.outputs.git_short }}.json

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: varikey-src-${{ steps.vars.outputs.git_branch }}-${{ steps.vars.outputs.git_short }}
        path: |
          ${{github.workspace}}/src/
          ${{github.workspace}}/*.json
        retention-days: 2
